<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title><%= siteName %></title>
    <link href="/css/promotion/app.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_1.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_2.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_3.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_4.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_5.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_6.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/dynamic-styles.css">

    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
        .rechargeh__container-content__item[data-v-e4760c44] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .21333rem;
    padding: .32rem .13333rem;
    border-radius: .13333rem;
    background-color: #2a2a2a;
}
.rechargeh__container-content__item-body[data-v-e4760c44] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .13333rem;
    font-size: .32rem;
    color: #a8a5a1;
}
.rechargeh__container-content__item-body>div[data-v-e4760c44] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
* {
    box-sizing: border-box;
    font-family: bahnschrift;
}
* {
    -webkit-user-select: none;
    user-select: none;
}
.rechargeh__container[data-v-e4760c44] {
    padding-inline: .32rem;
    padding-block: 0 1.49333rem;
    font-family: bahnschrift;
}
.svg-icon {
    width: 1em;
    height: 1em;
    fill: var(--svgHoticon);
    vertical-align: middle;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.rechargeh__container-content__item-body>div:first-of-type span[data-v-e4760c44]:last-of-type {
    color: #ed6a0c;
}
.rechargeh__container-content__item-body>div span[data-v-e4760c44]:nth-of-type(2) {
    margin-left: auto;
    text-align: right !important;
}
.rechargeh__container-content__item-body>div span[data-v-e4760c44]:last-of-type {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rechargeh__container-content__item-body>div span[data-v-e4760c44] {
    padding: 0 .26667rem;
    margin: .06667rem 0;
}
.rechargeh__container-content__item-body>div span[data-v-e4760c44]:first-of-type {
    -webkit-clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%);
}
.rechargeh__container-content__item-header[data-v-e4760c44] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .13333rem;
    padding-bottom: .13333rem;
}
.ar-1px-t, .ar-1px-b, .ar-1px-tb, .ar-1px-rb, .ar-1px-l, .ar-1px-r {
    position: relative;
}
.rechargeh__container-content__item-header span[data-v-e4760c44]:first-of-type {
    margin-left: .13333rem;
    background: #d23838;
    border: .01333rem solid #d23838;
    border-radius: .13333rem;
}
.rechargeh__container-content__item-header span.stateG[data-v-e4760c44] {
    color: #17b15e;
}
.rechargeh__container-content__item-header span[data-v-e4760c44]:last-of-type {
    margin-left: auto;
    text-align: right;
    color: var(--main-color);
}
.rechargeh__container-content__item-header span[data-v-e4760c44]:nth-of-type(2) {
    text-align: left;
}
.rechargeh__container-content__item-header span[data-v-e4760c44] {
    min-width: 2rem;
    height: .66667rem;
    font-size: .37333rem;
    text-align: center;
    line-height: .66667rem;
    color: #fff;
}
.rechargeh__container-content__item-header span[data-v-e4760c44]:last-of-type {
    margin-left: auto;
    text-align: right;
    color: var(--main-color);
}

.infiniteScroll[data-v-cbab7763] {
    min-height: 2.66667rem;
    border-radius: .16rem;
}


.infiniteScroll[data-v-cbab7763] {
    min-height: 2.66667rem;
    border-radius: .16rem;
}

.infiniteScroll__loading[data-v-7189a457] {
    width: 100%;
    min-height: 1.4rem;
    margin-top: auto;
    padding-bottom: .4rem;
    color: #a6a9ae;
    font-size: .37333rem;
    text-align: center;
}
.ar-1px-t, .ar-1px-b, .ar-1px-tb, .ar-1px-rb, .ar-1px-l, .ar-1px-r {
    position: relative;
}
.fun-tabs {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.navbar__content-center[data-v-2f448113] {
    color: #fff;
    font-size: .48rem;
    line-height: .48rem;
}
.navbar-fixed[data-v-2f448113] {
    position: fixed;
    top: 0;
    left: 50%;
    width: 10rem;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    -webkit-user-select: none;
    user-select: none;
    z-index: 100;
}
.bet-container-lottery-card-header h1 h2[data-v-1d8fbc24] {
    font-weight: 700;
    font-size: .4rem;
    color: var(--text_color_L1);
    padding-bottom: .10667rem;
}

.page-nav .arr[data-v-a9660e98] {
    height: 1.06667rem;
    width: 1.06667rem;
    background-color: #d8820a;
    border-radius: .13333rem;
}

.game .page-nav .arr[data-v-a9660e98] {
    height: 1.06667rem;
    width: 1.06667rem;
    background-color: #d8820a;
    border-radius: .13333rem;
}
.block-click {
    pointer-events: none;
}
[data-v-a9660e98] {
    touch-action: pan-y;
}
.c-row-middle-center {
    align-items: center;
}
.c-row-center, .c-row-middle-center {
    justify-content: center;
}

 .page-nav .arr .icon[data-v-a9660e98] {
    color: #d8820a;
}

.game .page-nav .arr .icon[data-v-a9660e98] {
    color: #7f7f7f;
}
.van-icon, .van-icon:before {
    display: inline-block;
}
.van-icon {
    position: relative;
    font: normal normal normal .37333rem / 1 vant-icon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
[data-v-a9660e98] {
    touch-action: pan-y;
}
 .page-nav .number[data-v-a9660e98] {
    width: 2.66667rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    color:white
}

.game .page-nav .number[data-v-a9660e98] {
    width: 2.66667rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    background-color: #2a2a2a;
}

 .page-nav .arr.action[data-v-a9660e98] {
    background-color: #d8820a;
}

.game .page-nav .arr.action[data-v-a9660e98] {
    background-color: #d8820a;
}

 .page-nav .arr .icon.action[data-v-a9660e98] {
    color: #fff;
}

.game .page-nav .arr .icon.action[data-v-a9660e98] {
    color: #fff;
}
 .page-nav .arr .icon[data-v-a9660e98] {
    color: #7f7f7f;
}
.game .page-nav .arr .icon[data-v-a9660e98] {
    color: #7f7f7f;
}



    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-7c8bbbf4="" class="mian">
            <div data-v-106b99c8="" data-v-7c8bbbf4="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left"></div>
                <div data-v-106b99c8="" class="navbar-title">My Team</div>
                <!-- <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/promotion/bonusrecord'">
                    <div data-v-7c8bbbf4="" data-v-106b99c8="" class="c-row">
                        <i data-v-7c8bbbf4="" data-v-106b99c8="" class="van-icon van-icon-notes-o" style="font-size: 25px;">
                           
                        </i>
                    </div>
                </div> -->
            </div>
            <div data-v-14912091="" class="promotion">
                
                <div data-v-14912091="" class="box">
                    <div data-v-0ff6946a="" class="c-row c-row-between p-l-15 p-r-15 m-t-5">
                        <div data-v-0ff6946a="" class="p-r-10">
                            <input data-v-0ff6946a="" type="text" maxlength="5" placeholder="UID" oninput="value=value.replace(/\D/g,'')" class="ipt">
                        </div>
                        
                        <div data-v-0ff6946a="" class="btn c-tc">Search</div>
                    </div>
                    <div data-v-14912091="" class="table">
                        
                        <div data-v-14912091="" class="list">
                            <div data-v-14912091="" role="feed" class="van-list">
                                <div id="van-list">
                                       
                                </div>
                                <div data-v-3966082f="" role="feed" class="van-list">
                                    <div class="lisys"></div>
                                    
                                </div>

                                <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc" id="pagination-controls" style="
                                    margin-bottom: 0.5333rem;
                                    padding-bottom: .53333rem;
                                    height: 1.06667rem;
                                ">                    <div data-v-a9660e98="" class="arr c-row c-row-middle-center" id="prev-page">
                                            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon action" style="font-size: 20px;">
                                                <!---->
                                            </i>
                                        </div>
                                        <div data-v-a9660e98="" class="number" id="page-info">1/1</div>
                                        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action" id="next-page">
                                            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
                                                <!---->
                                            </i>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <%- include('../nav') -%>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        let allData = [];
        let filteredData = [];
        let currentPage = 1;
        const limit = 5;
    
        $(document).ready(function() {
            function fetchIncomeReports() {
                $.ajax({
                    type: "GET",
                    url: `/api/webapi/listTotalTeam`,
                    dataType: "json",
                    success: function(response) {
                        if (response.teamReports.length == 0) return;
                        allData = response.teamReports;
                        filteredData = allData; // Initially, filteredData is the same as allData
                        renderPaginatedData();
                        updatePagination();
                    },
                    error: function(error) {
                        console.error('Error fetching data:', error);
                    }
                });
            }
    
            function renderPaginatedData() {
                const offset = (currentPage - 1) * limit;
                const paginatedData = filteredData.slice(offset, offset + limit);
                MemRender(paginatedData);
            }
    
            function updatePagination() {
                const totalPages = Math.ceil(filteredData.length / limit);
                $('#page-info').text(`${currentPage}/${totalPages}`);
                $('#prev-page').toggleClass('disabled', currentPage === 1);
                $('#next-page').toggleClass('disabled', currentPage === totalPages);
            }
    
            function MemRender(datas) {
                let html = '';
                datas.forEach((data) => {
                    html += `
                        <div data-v-cbab7763="" data-v-e4760c44="" class="item infiniteScroll" id="refresh5fb40baadfa743dbbfe286bd2ff24447">
                            <div data-v-e4760c44="" class="rechargeh__container-content__item">
                                <div data-v-e4760c44="" class="orderno rechargeh__container-content__item-header ar-1px-b">
                                    <span data-v-e4760c44="">UID:<span data-v-e4760c44="" class="text">${data.id_user}</span> </span>
                                    <div data-v-67caa467="" class="tag-read van-image" data-clipboard-text="" style="width: 22px; height: 20px;">
                                        <img src="/images/copy.png" class="van-image__img">
                                    </div>
                                    <span data-v-e4760c44="" class="stateG"></span>
                                </div>
                                <div data-v-e4760c44="" class="rechargeh__container-content__item-body">
                                    <div data-v-e4760c44=""><span data-v-e4760c44="">Level</span><span data-v-e4760c44="">${data.level}</span></div>
                                    <div data-v-e4760c44=""><span data-v-e4760c44="">Total Recharge</span><span data-v-e4760c44="">₹ ${data.total_money}</span></div>
                                    <div data-v-e4760c44=""><span data-v-e4760c44="">Total Bet</span><span data-v-e4760c44="">₹ ${data.total_bet}</span></div>
                                    <div data-v-e4760c44=""><span data-v-e4760c44="">Time</span><span data-v-e4760c44="">${timerJoin(data.updated_at)}</span></div>
                                </div>
                            </div>
                        </div>
                        <br>
                    `;
                });
                $('#van-list').html(html);
            }
    
            function formateT(params) {
                return (params < 10) ? "0" + params : params;
            }
        
            function timerJoin(params = '') {
                let date = params ? new Date(params) : new Date();
                let years = formateT(date.getFullYear());
                let months = formateT(date.getMonth() + 1);
                let days = formateT(date.getDate());
                return years + '-' + months + '-' + days;
            }
    
            function alertMess(text, sic) {
                $('body').append(`
                    <div data-v-1dcba851="" class="msg">
                        <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                    </div>
                `);
                setTimeout(() => {
                    $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                    $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                    setTimeout(() => {
                        $('.msg').remove();
                    }, 100);
                    sic.removeClass('block-click');
                }, 1000);
            }
    
            $(".ipt").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                
                // Search within allData array
                filteredData = allData.filter(data => {
                    return (data.id_user ? data.id_user.toString().toLowerCase().indexOf(value) > -1 : false) ||
                           data.level.toString().indexOf(value) > -1 ||
                           timerJoin(data.updated_at).indexOf(value) > -1 ||
                           (data.phone ? data.phone.toLowerCase().indexOf(value) > -1 : false) ||
                           (data.commission ? data.commission.toString().indexOf(value) > -1 : false);
                });
    
                currentPage = 1; // Reset to first page
                renderPaginatedData();
                updatePagination();
            });
    
            // Pagination event listeners
            $('#prev-page').click(function() {
                if (!$(this).hasClass('disabled')) {
                    currentPage--;
                    renderPaginatedData();
                    updatePagination();
                }
            });
    
            $('#next-page').click(function() {
                if (!$(this).hasClass('disabled')) {
                    currentPage++;
                    renderPaginatedData();
                    updatePagination();
                }
            });
    
            $(document).on('click', '.tag-read', function(e) {
                e.preventDefault();
    
                let text = $(this).closest('.orderno').find('.text').text().trim();
    
                navigator.clipboard.writeText(text).then(() => {
                    alertMess('Copy successful', $(this));
                }).catch(err => {
                    console.error('Error copying text: ', err);
                    console.log('Clipboard API supported:', navigator.clipboard);
                });
            });
    
            // Initial fetch
            fetchIncomeReports();
        });
    </script>
    
    
    
        
    
</body>

</html>